@import url("https://fonts.googleapis.com/css?family=Cinzel");

.fa-facebook {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-github {
  color: white;
}

nav ul a,
nav .brand-logo {
  color: #12204a;
  font-family: Cinzel;
  font-weight: 900;
}

h2 {
  font-family: cinzel;
  font-weight: 700;
}

h5 {
  font-family: cinzel;
  font-weight: 700;
}

a {
  font-family: cinzel;
}

p {
  line-height: 2rem;
  font-family: Cinzel;
}

.button-a {
  transition-duration: 0.4s;
}

.button-a:hover {
  background-color: white;
  background-color: #e7131a;
}

.imgsize {
  height: 500px;
  width: 500px;
}

.sidenav-trigger {
  color: #233f94;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #12204a;
}
